# Project
.project
.settings
.vscode

# Dependencies
vendor/
vendors/

# Coverage Reports
reports/
coverage.out
coverage.html
junitFormatReport.xml

# Executable
go-mux-jwt

# mac crap
.DS_Store

# livereload helper
gin-bin

# Logs
logs

*.log

# Runtime data
pids
*.pid
*.seed